.content{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.welcome-info{
    width: 50%;
    height: 100%;
    background-color: black;
}
.login{
    width: 50%;
    padding: 2%;
    display: flex;
    flex-direction: column;
}
.switch{
    display: flex;
    justify-content: end;
}
.login-content{
    flex: 1;
    width: 100%;
    display: flex;
    height: 95%;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
    align-items: center;
}
.login-form{
    width: 100%;
}
.intro{
    display: flex;
    justify-content: center;
    padding-top: 10%;
}
.intro > div{
    padding-top: 10px;
}
.form-container{
    width: 95%;
    height: 95%;
    /* background-color: royalblue; */
    padding: 5%;
    padding-left: 12%;
    padding-right: 12%;
}
.form{
    width: 100%;
    height: 100%;
    background-color: lightgray;
    border-radius: 24px;
}
.w-card{
    width: 20%;
}